/*
 Theme Name:   De Grizzly
 Theme URI:    http://degrizzly.be
 Description:  Nisarg Child theme for De Grizzly made by Indy Meermens and Aldo Fieuw.
 Author:       Aldo Fieuw & Indy Meermans
 Author URI:   http://degrizzly.be
 Template:     nisarg
 Version:      2.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: pink,orange,blue,green,yellow, gray, white,black,light,two-columns, right-sidebar, responsive-layout, theme-options, custom-background, custom-header, custom-colors, custom-menu, featured-images,  post-formats, sticky-post, translation-ready, rtl-language-support,threaded-comments
 Text Domain:  nisarg-child
*/




/* kleurtjes
************************************************
Accentkleur: #428bca
Accentkleur 2: #0A5A9C
Accentkleur 3: #ebebeb of #f8f8f9 of #f2f2f2
*/



/* Zoekknop 
*************************/

button, html input[type="button"], input[type="reset"], input[type="submit"], .submit {
        border: 1px solid #428bca;
    border-radius: 2px;
    background: -moz-linear-gradient(#0A5A9C, #428bca);
    background: -o-linear-gradient(#0A5A9C, #428bca);
    background: -webkit-linear-gradient(#0A5A9C, #428bca);
    background: linear-gradient(#0A5A9C, #428bca);
    color: #fff;
}

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .submit:hover {
    border: 1px solid #428bca;
    border-radius: 2px;
    background: -moz-linear-gradient(#0A5A9C, #428bca);
    background: -o-linear-gradient(#0A5A9C, #428bca);
    background: -webkit-linear-gradient(#0A5A9C, #428bca);
    background: linear-gradient(#0A5A9C, #428bca);
    color: #fff;
}

/* Title 
********************/
.site-branding > a:active, a:hover, a:focus {
    text-decoration: none;
}

/* Naviagatie
*********************/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca;
}


div.navbar-collapse > ul.nav.navbar-nav {
    float:right; /* float nav in orde krijgen */
}
div.navbar-collapse.in > ul.nav.navbar-nav {
    float:none; /* override float nav in bij klein scherm */
}

/* vlagje */
li.lang-item img{
	margin-bottom: 0;
	padding-bottom: 3px;
}

/* Body 
***************************/
main, aside, article, .featured-image > img, .nav-links, .post-comments, textarea, input[type="submit"], input[type="email"], input[type="url"]  {
    border-radius: 6px;
}

article.post-content , #secondary .widget, nav.navbar, div.post-comments, div.nav-links {
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
}

body {
    background-color: #f2f2f2;
}



/* Featured Images 
******************/
.featured-image {
    padding: .5em .5em 0 .5em;
}

/* Homepage 
****************************************/
#post-737 > header.entry-header, /*NL*/
#post-772 > header.entry-header, /*FR*/
#post-776 > header.entry-header,  /*EN*/
#post-1126 > header.entry-header, /*FR*/
#post-1129 > header.entry-header, /*EN*/
#post-1123 > header.entry-header  /*NL*/
  {
     display: none; 
 }
#post-737 > .entry-content,
#post-772 > .entry-content,
#post-776 > .entry-content, 
#post-1126 > .entry-content,
#post-1129 > .entry-content,
#post-1123 > .entry-content
 {
    padding-top: 2em; 
}
/* Content 
******************************************/
p {
	text-align: left;
}

/* image header */
.site-header{
	display: none;
}
header#masthead{
	margin-bottom: 3em;
}

.home  .site-header{
	display: block; 
}

/* Facebook rss */
#pgc-737-5-0 .widget ul {
    padding: 0;
}




/* Tabel 
***************************/
 table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4" 
}
  /*table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}*/


/* Footer 
***************************/
.site-footer {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.love:hover {
    color: red
}


